@import url('https://fonts.googleapis.com/css?family=Lato');



@keyframes show {
	from {opacity: 0;}
	to {opacity: 1}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato';
}


body {
	display: flex;
	flex-wrap: wrap;
	background: url('../img/bg.jpg') center no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
	width: 100%;
	color: #2c3e50;
	padding: 12px;
}

.header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 186px;
	text-align: center;
	padding-bottom: 16px;
}

.button {
	border: none;
	border-radius: 16px;
	background-color: #e74c3c;
	font-size: 1.1em;
	font-weight: 700;
	color: #fff;
	width: 192px;
	height: 48px;
	cursor: pointer;
	transition: .25s all ease-in-out;
}

.button:hover {
	color: #ecf0f1;
	background-color: #c0392b;
	transition: .25s all ease-in-out;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}

.article {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;

	animation-name: show;
	animation-duration: 2s;

}

.quote {
	font-size: 1.5em;
	width: 80%;
	color: #ecf0f1;
}

.author {
	font-size: 1.2em;
	width: 40%;
	color: #ecf0f1;
}

.author::before {
	content: '- ';
}

.category {
	font-size: 1.2em;
	width: 40%;
	color: #ecf0f1;
}