head
	link(rel='stylesheet' type='text/css' href='src/stylesheets/main.css')
body.container
	header.header
		h1 Quotes generator
		button#generate(type='button').button Get new quote
	main.main
	script(src='dist/main.js') 	